<div class="center hero-unit">
  <h1>My Blog</h1>
  <h2>--Classification and Recycling</h2>
  <p>This is a blog for protect of our homeland,
  please join us to protect we only earth</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
