<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "C & R", root_path, id: "logo"%>
      <nav>
        <ul class="nav pull-right">
          <li>
            <form class="navbar-search">
              <input type="text" class="input-medium search-query" placeholder="Search">
            </form>
          </li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
